// main banner
.main-banner-wrap{
  // width: 100%;
  height: 148.6vw;
  position: relative;
  margin: -$hdH -20px 0 -20px;
  @media screen and (min-width: $breakpoint-xl) {
    height: 68vh;
    background-size: cover;
  }
  .main-banner-img{
    background-image: url(../../images/c_festa1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
  }
  .main-txt-wrap{
    position: absolute;
    bottom: 13vw;
    left: 0;
    color: $primary;
    @media screen and (min-width: $breakpoint-xl) {
      bottom: 4.1vw; 
    }
    .main-txt{
      font-size: 9.5vw;
      font-weight: 900;
      font-style: italic;
      line-height: normal;
      letter-spacing: -1px;
      margin-left: 20px;
      @media screen and (min-width: $breakpoint-xl){
        font-size: 7vw;
        }
      &.first-txt{
        font-size: 5.6vw;
        letter-spacing: normal;
        }
      &.second-txt{
        color: $w;
        text-shadow: 4px 3px $primary;
      }
    }
  }
}

.who{
  .title{
    margin-top: 8.15vw;
  }
.who-txt{
  font-size: 3.5vw;
  color: $txtDefult;
  @media screen and (min-width: $breakpoint-xl) {
    width: 70%;
    font-size: 1.245vw;
  }
  &.who-second{
    margin: 15px 0 50px 0;
    @media screen and (min-width: $breakpoint-xl) {
      margin-top: 1.2vw;
    }
  }
}
.who-icons{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  @media screen and (min-width: $breakpoint-xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .num, .plus{
    color: $primary;
    font-weight: 900;
  }
  .num-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .num{
    font-size: 11.8vw;
    @media screen and (min-width: $breakpoint-xl) {
      font-size: 6.999vw;
    }
  }
  .plus{
    font-size: 5vw;
    @media screen and (min-width: $breakpoint-xl) {
      font-size: 4vw;
    }
  }
  .sub-txt{
    color: $txtDefult;
    font-weight: 800;
    font-size: 3.4vw;
    @media screen and (min-width: $breakpoint-xl) {
      font-size: 1.245vw;
    }
  }
}
}

// beteween slide
.bt-slide{
  display: flex;
  overflow: hidden;
  margin: 6vw -20px 0 -20px;
  &.bt1{
    .rolling-list{
      ul{
        display: flex;
        li{
          width: 52.5vw;
          height: 53.2vw;
          border-radius: 8px;
          transform: skewX(-12deg);
          margin: 23.3vw 5.5vw 0 0.8vw;
          @media screen and (min-width: $breakpoint-xl) {
          width: 16vw;
          height: 19vw;
          margin: 5.4vw 1vw 0 0;
          }
          &:nth-child(1){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/c_festa2.png");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(2){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/c_a2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(3){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/c_festa1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(4){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/c_festa3.png");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(5){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/c_a1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(6){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/c_festa4.png");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(even){
            margin: 33vw 5.5vw 0 -3vw;
            @media screen and (min-width: $breakpoint-xl) {
              margin: 2.7vw 0.5vw 0 0.5vw;
            }
          }
        }
      }
    }
  }
  &.bt2{
    .rolling-list{
      ul{
        display: flex;
        li{
          width: 52.5vw;
          height: 53.2vw;
          border-radius: 8px;
          transform: skewX(-12deg);
          margin: 23.3vw 5.5vw 0 0.8vw;
          @media screen and (min-width: $breakpoint-xl) {
          width: 16vw;
          height: 19vw;
          margin: 5.4vw 1vw 0 0;
          }
          &:nth-child(1){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/bb_caesar.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(2){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/bb_jykel01.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(3){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/bb_four.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(4){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/bb_jykel02.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(5){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/bb_rainbow.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(6){
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("../../images/bb_jykel03.jpg");
            background-size: cover;
            background-repeat: no-repeat;
          }
          &:nth-child(even){
            margin: 33vw 5.5vw 0 -3vw;
            @media screen and (min-width: $breakpoint-xl) {
              margin: 2.7vw 0.5vw 0 0.5vw;
            }
          }
        }
      }
    }
  }
}

// we are around the world
.world{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title{
    @media screen and (min-width: $breakpoint-xl) {
      .world-enter{
        display: none;
      }
    }
  }
  .world-txt{
    font-size: 3.5vw;
    color: $txtDefult;
    @media screen and (min-width: $breakpoint-xl) {
      font-size: 1.245vw;
    }
  }
  .worldmap-wrap{
    .worldmap-img{
      width: 100%;
      height: 50vw;
      background-image: url(../../images/worldmap.svg);
      background-size: contain;
      background-repeat: no-repeat;
      margin: 12.3vw 0 4.7vw 0;
      @media screen and (min-width: $breakpoint-xl) {
        width: 90%;
        margin: 9vw auto 0.6vw auto;
      }
    }
    .worldmap-info-wrap{
      @media screen and (min-width: $breakpoint-xl) {
        display: flex;
        justify-content: flex-end;
        gap: 2.1vw;
        }
    }
    .worldmap-info{
      font-size: 3.7vw;
      @media screen and (min-width: $breakpoint-xl) {
        font-size: 1.245vw;
      }
    }
  }
}

// platforms
.pf-card-wrap{
  @media screen and (min-width: $breakpoint-xl) {
    display: flex;
    flex-direction: row;
    gap: 15px;
    @media screen and (min-width: $breakpoint-xl) {
      width: 100%;
      gap: 25px;
    }
  }
  .pf-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83vw;
    height: 75vw;
    background: $secondary;
    border-radius: 11px;
    text-align: center;
    margin-bottom: 4vw;
    padding: 6vw 4.7vw;
    @media screen and (min-width: $breakpoint-xl) {
      width: 33.3vw;
      height: 33vw;
      padding: 3vw 2vw;
    }
    .pf-img{
      width: 40vw;
      height: 60vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      @media screen and (min-width: $breakpoint-xl) {
        width: 20vw;
        height: 18vw;
      }
      &.pf-boardgame{
      background-image: url(../../images/p_boardgames.png);
      }
      &.pf-digital{
        background-image:url(../../images/p_digital.png);
      }
      &.pf-entertain{
        background-image:url(../../images/p_enter.png);
      }
    }
  }
  .pf-line{
    background-color: #B0B0B0;
    width: 100%;
    height: 1px;
    margin: 4vw 0;
    @media screen and (min-width: $breakpoint-xl) {
      margin: 2.5vw 0;
    }
  }
  .pf-txt-wrap{
    .pf-tit{
      font-size: 5.8vw;
      font-weight: 900;
      color: $txtDefult;
      @media screen and (min-width: $breakpoint-xl) {
        font-size: 1.65vw;
      }
    }
    .pf-txt{
      font-size: 3.7vw;
      font-weight: 600;
      color: $txtsecon;
      margin-top: 1vw;
      @media screen and (min-width: $breakpoint-xl) {
        font-size: 1.25vw;
        margin-top: 1.7vw;
      }
    }
  }
}

// studios slide
.studio-slide-wrap{
overflow: hidden;
margin: 0 -20px;
padding: 0 0 20px 20px;
  .studios-slide {
    width: 90%;
    height: 89.5vw;
    margin: 0;
    overflow: visible;
    @media screen and (min-width: $breakpoint-xl) {
      width: 22%;
      height: 24vw;
    }
    .second-slide {
      width: 100%;
    }
    .swiper-pagination{
      position: absolute;
      bottom: -40px;
      @media screen and (min-width: $breakpoint-xl) {
        display: none;
      }
    }
    .swiper-pagination-bullet{
      width: 1.5vw;
      height: 1.5vw;
      background: transparent;
      border: 1px solid $secondary;
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      width: 17vw;
      transition: width .5s;
      border-radius: 5px;
      background: $primary;
      border: 1px solid transparent;
    }
  }
}
// card style
.st-card{
  width: 100%;
  height: 100%;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  border: 1px solid $secondary;
  .card-image{
    width: 100%;
    border-radius: 9px 9px 0 0;
  }
  &:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .card-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.2vw;
    height: 100%;
    @media screen and (min-width: $breakpoint-xl) {
      padding: 1.5vw 1.3vw;
    }
    .card-tit{
      font-weight: 700;
      font-size: 4.5vw;
      @media screen and (min-width: $breakpoint-xl) {
        font-size: 1.233vw;
      }
    }
    .card-ft{
      display: flex;
      .hash{
        font-size: 2.6vw;
        font-weight: 600;
        padding: 1.5vw 2.5vw;
        background: $secondary;
        border-radius: 10vw;
        margin-right: 0.8vw;
        @media screen and (min-width: $breakpoint-xl) {
          font-size: 0.9vw;
          padding: 0.4vw 0.9vw;
        }
      }
    }
  }
}

// location
.location{
  .map{
    @media screen and (min-width: $breakpoint-xl) {
      margin-bottom: 48px;
    }
  }
  .loca-address, .loca-call, .loca-subway{
    @media screen and (min-width: $breakpoint-xl) {
      display: grid;
      grid-template-columns: 20% 1fr;
    }
  }
  .loca-tit{
    font-weight: 800;
    font-size: 4.6vw;
    color: $txtDefult;
    @media screen and (min-width: $breakpoint-xl) {
      font-size: 1.8vw;
    }
    }
    .loca-txt{
      font-size: 3.6vw;
      @media screen and (min-width: $breakpoint-xl) {
        font-size: 1.3vw;
      }
    }
    .line{
      margin: 4vw 0;
    }
    .add{
      margin-bottom: 2vw;
    }
  .subway-side-wrap{
    .subway-name{
      display: grid;
      grid-template-columns: 9vw 16vw 1fr;
      margin-bottom: 17vw;
      @media screen and (min-width: $breakpoint-xl) {
        // 여기 세부 수정
        grid-template-columns: 3vw 4vw 1fr;
        margin-bottom: 106px;
      }
      .subway-num{
        font-size: 4.6vw;
        font-weight: 600;
        color: $w;
        width: 5.7vw;
        height: 5.7vw;
        line-height: 5.7vw;
        background: #00A4E3;
        border-radius: 100%;
        text-align: center;
        @media screen and (min-width: $breakpoint-xl) {
          font-size: 24px;
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }
      .subway-line{
        font-size: 3.6vw;
        font-weight: 600;
        color: $txtDefult;
        @media screen and (min-width: $breakpoint-xl) {
          font-size: 16px;
        }
      }
      .loca-txt-more{
        font-size: 3.6vw;
        color: $txtDefult;
        @media screen and (min-width: $breakpoint-xl) {
          font-size: 16px;
        }
      }
    }
  }
}

