// main slide
.main-slide-wrap{
  position: relative;
  .slogan{
    position: absolute;
    bottom: 10vw;
    z-index: 2;
    font-size: 11.5vw; 
    font-weight: 900;
    font-style: italic;
    line-height: normal;
    letter-spacing: -3px;
    margin: 20px;
    @media screen and (min-width: $breakpoint-xl){
    font-size: 6.9vw;
    bottom: 3vw;
    }
    .s-t1{
      color: $w;
      text-shadow: 4px 3px $primary;
    }
    .s-t2{
      color: $primary;
    }
  }
}
.main-slide{
  display: flex;
  flex-direction: column;
  margin: -$hdH -20px 0 -20px;
  .first-slide{
    width: 100%;
    .main-game{
      height: 148.6vw;
      @media screen and (min-width: $breakpoint-xl){
        width: 100%;
        height: 65vh;
        background-size: cover;
      }
      filter: brightness(0.8);
    }
  }
}
.main-txt{
  font-size: 5.5vw;
  display: flex;
  word-break: keep-all;
  @media screen and (min-width: $breakpoint-xl) {
    font-size: 1.8vw;
    br{
      display: none;
    }
  }
  &.txt1{
    margin-top: 10vw;
    @media screen and (min-width: $breakpoint-xl) {
      margin-top: 6vw;
    }
  }
  &.txt2{
    margin-top: 2vw;
    font-weight: 600;
    color: $primary;
    @media screen and (min-width: $breakpoint-xl) {
      margin-top: 0;
    }
    }
}
  @media screen and (min-width: 421px) {
    .main-txt br {
      display: none;
    }
  }

// upcoming & new slide
.upcoming-slide-wrap{
  overflow: hidden;
  margin: 0 -20px;
  padding: 0 0 45px 20px;
  @media screen and (min-width: $breakpoint-xl) {
    padding: 5vw 0 12px 20px;
  }
  .upcoming-slide {
    width: 90%;
    height: 89.5vw;
    margin: 0;
    overflow: visible;
    @media screen and (min-width: $breakpoint-xl) {
      width: 22%;
      height: 24vw;
    }
  }
  .second-slide {
    width: 100%;
  }
  .swiper-pagination{
    position: absolute;
    bottom: -40px;
    @media screen and (min-width: $breakpoint-xl) {
      display: none;
    }
  }
  .swiper-pagination-bullet{
    width: 1.5vw;
    height: 1.5vw;
    background: transparent;
    border: 1px solid $secondary;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    width: 17vw;
    transition: width .5s;
    border-radius: 5px;
    background: $primary;
    border: 1px solid transparent;
  }
}


// card style
  // main : upcoming&new games
  .card{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    border: 1px solid $secondary;
    transition: all 0.5s;
    .card-image{
      width: 100%;
      border-radius: 9px 9px 0 0;
    }
    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      @media screen and (min-width: $breakpoint-xl) {
        transform: translateY(-10%);
      }
    }
    .card-inner{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5.2vw;
      height: 100%;
      @media screen and (min-width: $breakpoint-xl) {
        padding: 1.5vw 1.3vw;
      }
      .card-main{
        .card-hd{
          font-weight: 700;
          font-size: 4.5vw;
          @media screen and (min-width: $breakpoint-xl) {
            font-size: 1.233vw;
          }
        }
        .card-txt{
          font-size: 4vw;
          color: $txtsecon;
          @media screen and (min-width: $breakpoint-xl) {
            font-size: 1.1vw;
          }
        }
      }
      .card-ft{
        display: flex;
        .hash{
          font-size: 2.6vw;
          font-weight: 600;
          padding: 1.5vw 2.5vw;
          background: $secondary;
          border-radius: 10vw;
          margin-right: 0.8vw;
          @media screen and (min-width: $breakpoint-xl) {
            font-size: 0.8vw;
            padding: 0.4vw 0.9vw;
          }
        }
      }
    }
  }
    // main our games
  .our-games{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 126.66666666666666vw;
    border-radius: 9px;
    margin-bottom: 15px;
    padding-top: 57vw;
    @media screen and (min-width: $breakpoint-xl) {
      height: 38vw;
      padding: 0;
      border-radius: 11px;
      align-items: flex-start;
      padding: 7.7vw 0 0 4.8vw;
    }
    &.ttri{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("../../images/mobile/game_ttr.jpg");
      background-size: cover;
      @media screen and (min-width: $breakpoint-xl) {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/main_2t2r.png") center center / cover no-repeat;
        &:hover{
          background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
          url("../../images/main_2t2r.png") center center / cover no-repeat;
        }
      }
    }
    &.seve{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("../../images/mobile/game_7won.jpg");
      background-size: cover;
      @media screen and (min-width: $breakpoint-xl) {
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/main_7wonders.png");
        background-size: cover;
        &:hover{
          background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../../images/main_7wonders.png");
        background-size: cover;
        }
      }
    }
    &.sple{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("../../images/mobile/game_splen.jpg");
      background-size: cover;
      @media screen and (min-width: $breakpoint-xl) {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/main_3splendor.png");
        background-size: cover;
        &:hover{
          background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../../images/main_3splendor.png");
        background-size: cover;
        }
      }
    }
    &.dixi{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("../../images/mobile/game_dixit.jpg");
      background-size: cover;
      @media screen and (min-width: $breakpoint-xl) {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/main_1dixit.png");
        background-size: cover;
        &:hover{
          background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../../images/main_1dixit.png");
        background-size: cover;
        }
      }
    }
    &.dobb{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("../../images/mobile/game_dob.jpg");
      background-size: cover;
      @media screen and (min-width: $breakpoint-xl) {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../images/main_4dobble.png");
        background-size: cover;
        &:hover{
          background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("../../images/main_4dobble.png");
        background-size: cover;
        }
      }
    }
    .game-logo{
      text-indent: -9999px;
      width: 75%;
      height: 25vw;
      margin-bottom: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      @media screen and (min-width: $breakpoint-xl) {
      width: 27vw;
      // width: 377px;
      height: 167px;
      height: 167px;
      }
      &.ttri-logo{
        background-image: url(../../images/logo_t2r.png);
      }
      &.seve-logo{
        background-image: url(../../images/logo_7wonders.png);
      }
      &.sple-logo{
        background-image: url(../../images/logo_splendor.png);
      }
      &.dixi-logo{
      background-image: url(../../images/logo_dixit.png);
      }
      &.dobb-logo{
      margin-bottom: 10px;
      height: 35vw;
      background-image: url(../../images/logo_dobble.png);
      @media screen and (min-width: $breakpoint-xl) {
        width: 12vw;
        height: 14vw;
        }
      }
    }
    .our-games-txt{
      text-align: center;
      @media screen and (min-width: $breakpoint-xl) {
        text-align: left;
      }
      span{
        font-size: 4.4vw;
        font-weight: 800;
        color: $w;
        @media screen and (min-width: $breakpoint-xl) {
          // font-size: 24px;
          font-size: 1.8vw;
        }
      }
      p{
        letter-spacing: -0.7px;
        margin-top: 0.8vw;
        font-size: 3.8vw;
        color: $w;
        line-height: normal;
        @media screen and (min-width: $breakpoint-xl) {
          // font-size: 16px;
          font-size: 1.2vw;
          letter-spacing: normal;
          line-height: normal;
        }
      }
    }
    
  }

// recent news
.news-slide-wrap{
  overflow: hidden;
  margin: 0 -20px;
  padding: 0 0 45px 20px;
  @media screen and (min-width: $breakpoint-xl) {
    padding: 5vw 0 12px 20px;
  }
  .news-slide {
    width: 90%;
    height: 100%;
    margin: 0;
    overflow: visible;
    @media screen and (min-width: $breakpoint-xl) {
      width: 25%;
      height: 100%;
    }
    .second-slide {
      width: 100%;
    }
    .swiper-pagination{
      position: absolute;
      bottom: -40px;
      @media screen and (min-width: $breakpoint-xl) {
        display: none;
      }
    }
    .swiper-pagination-bullet{
      width: 1.5vw;
      height: 1.5vw;
      background: transparent;
      border: 1px solid $secondary;
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      width: 17vw;
      transition: width .5s;
      border-radius: 5px;
      background: $primary;
      border: 1px solid transparent;
    }
    .third-slide {
      width: 100%;
      margin: 0;
      border-radius: 9px;
      transition: all 0.5s;
      &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        @media screen and (min-width: $breakpoint-xl) {
        transform: translateY(-10%);
        }
      }
      a{
        display: flex;
        position: relative;
        img{
          width: 100%;
          border-radius: 9px;
        }
        p{
          position: absolute;
          left: 25px;
          bottom: 20px;
          font-size: 2.6vw;
          font-weight: 600;
          letter-spacing: -0.5px;
          padding: 1.5vw 2.5vw;
          border-radius: 10vw;
          color: $w;
          background: $primary;
          @media screen and (min-width: $breakpoint-xl) {
            font-size: 1.1vw;
            padding: 0.5vw 1.2vw;
          }
        }
      }
    }
  }
}

.sec-g{
  .download{
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: $breakpoint-xl) {
      flex-direction: row; 
    }
    a{
      .files-img{
        position: relative;
        width: 100%;
        height: 50vw;
        border-radius: 12px;
        transition: all 0.5s;
        &:hover{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
          @media screen and (min-width: $breakpoint-xl) {
          transform: translateY(-10%);
          }
        }
        @media screen and (min-width: $breakpoint-xl) {
          width: 31.2vw;
          height: 33.2vw;
        }
        &.img-rule{
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
          url("../../images/files_rule.jpg");
          background-size: cover;
          background-position: center;
          &:hover{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../../images/files_rule.jpg");
          background-size: cover;
          background-position: center;
          }
        }
        &.img-tool{
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
          url("../../images/files_files.jpg");
          background-size: cover;
          background-position: center;
          &:hover{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../../images/files_files.jpg");
          background-size: cover;
          background-position: center;
          }
        }
        &.img-etc{
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
          url("../../images/files_etc.jpg");
          background-size: cover;
          background-position: center;
          &:hover{
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("../../images/files_etc.jpg");
          background-size: cover;
          background-position: center;
          }
        }
        p{
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $w;
          font-size: 7.5vw;
          font-weight: 800;
          letter-spacing: 4px;
          @media screen and (min-width: $breakpoint-xl) {
            font-size: 36px;
          }
        }
      }
    }
  }
}

.line{
  background: $secondary;
  width: 100%;
  height: 1px;
  margin: 9vh 0;
}

// icon - txt 사이 간격 조정 필요해
.cs-center{
  margin-bottom: 9vh;
  .list-cs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 35px;
    @media screen and (min-width: $breakpoint-xl) {
      flex-wrap: nowrap;
    }
    li{
      display: flex;
      width: 40%;
      height: 170px;
      a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .cs-img{
          width: 100%;
          height: 80%;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .consumer{
          background-image: url(../../images/cs_consumer.png);
        }
        .distri{
          background-image: url(../../images/cs_distributor.png);
        }
        .market{
          background-image: url(../../images/cs_marketing.png);
        }
        .brand{
          background-image: url(../../images/cs_brand.png);
        }
        p{
          text-align: center;
          font-size: 4.8vw;
          font-weight: 600;
          color: $txtDefult;
          @media screen and (min-width: $breakpoint-xl) {
            font-size: 28px;
          }
        }
      }
    }
  }
}