// 변수 설정
$txtDefult: #333;
$txtsecon: #444;
$primary: #00C1C1;
$secondary: #ccc;
$bg: #B2ECEC;

$w: #fff;
$b: #000;

$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$font-size: 16px;
$font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

// 반응형 미디어 쿼리
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
$breakpoint-xl: 1024px;
// $breakpoint-xxl: 1440px;

// layout
$hdH: 79px;
$ftH: 63vh;