@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  word-break: keep-all;
}

.inner {
  position: fixed;
  right: 20px;
  left: 20px;
  z-index: 1000;
}

#header {
  height: 79px;
}

#main {
  flex-grow: 1;
}

.title {
  margin: 35vw 0 6vw 0;
  font-size: 13vw;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -3px;
  line-height: normal;
  color: #00C1C1;
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 6.9vw;
    margin: 12vw 0 5.1vw 0;
  }
}
.title.upcoming {
  margin-top: 15vw;
}
@media screen and (min-width: 1280px) {
  .title.upcoming {
    margin: 14.7vw 0 0.1vw 0;
  }
  .title.upcoming br {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .title.news {
    margin: 14.7vw 0 0.1vw 0;
  }
}
.title.who {
  margin-top: 8vw;
}
.title.files {
  margin-bottom: 6.6vw;
}

#logo {
  width: 75px;
  height: 47px;
  position: relative;
  z-index: 1100;
}
#logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../images/logo.png);
  background-size: cover;
  text-indent: -9999px;
}

#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#header #gnb {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  background: #00C1C1;
  transition: left 0.2s;
}
#header #gnb .depth1 {
  margin: 0 20px;
}
#header #gnb .depth1 a {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}
#header #gnb .depth1 .depth2 a {
  font-size: 24px;
  font-weight: 700;
}
#header #gnb .depth1 .depth2 .depth3 a {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
#header #gnb .language {
  margin: 0 20px;
}
#header #gnb .language a {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}
#header .gnb-wrap .inp-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(1) {
  transform: translateY(3.5px) rotate(45deg);
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(2) {
  display: none;
}
#header .gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(3) {
  transform: translateY(-3.5px) rotate(-45deg);
}
#header .gnb-wrap .inp-burger:checked ~ #gnb {
  display: flex;
  left: 0;
}
#header .gnb-wrap .label-burger {
  position: relative;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 30px;
  height: 75px;
  cursor: pointer;
}
#header .gnb-wrap .label-burger .bar {
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.3s;
}

.btn-more-wrap .btn-more {
  overflow: hidden;
  display: inline-block;
  background: #000;
  color: #fff;
  font-size: 3.6vw;
  font-weight: 800;
  padding: 3vw 6vw;
  border-radius: 10vw;
  margin-top: 4vw;
  transition: all 0.2s;
}
.btn-more-wrap .btn-more .la-angle-right {
  transition: transform 0.3s ease-in-out;
}
.btn-more-wrap .btn-more:hover {
  background: #00C1C1;
}
.btn-more-wrap .btn-more:hover .la-angle-right {
  animation: move-arrow 1s infinite;
}
@keyframes move-arrow {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  50% {
    top: 50%;
    transform: translateX(50%);
  }
}
@media screen and (min-width: 1280px) {
  .btn-more-wrap .btn-more {
    font-size: 1.2vw;
    padding: 1.1vw 1.8vw;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  background: #00C1C1;
}
#footer .ft-wrap {
  margin: 50px 20px;
}
#footer .ft-wrap .ft-logo {
  display: flex;
  width: 168px;
  height: 107px;
  background-image: url(../../images/logo.png);
  background-size: cover;
  text-indent: -9999px;
}
#footer .ft-wrap .ft-txt-inner {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer .ft-wrap .ft-txt-inner .info-wrap, #footer .ft-wrap .ft-txt-inner .copyright {
  color: #fff;
  font-size: 3vw;
  line-height: normal;
}
@media screen and (min-width: 1280px) {
  #footer .ft-wrap .ft-txt-inner .info-wrap, #footer .ft-wrap .ft-txt-inner .copyright {
    font-size: 1.1vw;
  }
  #footer .ft-wrap .ft-txt-inner .info-wrap .eng-enter, #footer .ft-wrap .ft-txt-inner .copyright .eng-enter {
    display: none;
  }
}
#footer .ft-wrap .ft-txt-inner .adress-wrap .address-icon {
  width: 10px;
  height: 10px;
  background-image: url(../../images/icon_address.svg);
}
#footer .ft-wrap .ft-txt-inner .adress-wrap .address {
  margin: 40px 0 22px 0;
}
#footer .ft-wrap .sns-wrap .list-sns {
  display: grid;
  grid-template-columns: repeat(5, 13vw);
  margin-top: 20px;
}
@media screen and (min-width: 1280px) {
  #footer .ft-wrap .sns-wrap .list-sns {
    grid-template-columns: repeat(5, 64px);
  }
}
#footer .ft-wrap .sns-wrap .list-sns li {
  width: 10vw;
  height: 10vw;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  #footer .ft-wrap .sns-wrap .list-sns li {
    width: 43px;
    height: 43px;
  }
}
#footer .ft-wrap .sns-wrap .list-sns li a {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#footer .ft-wrap .sns-wrap .list-sns li .facebook {
  background-image: url(../../images/icon_facebook.png);
}
#footer .ft-wrap .sns-wrap .list-sns li .insta {
  background-image: url(../../images/icon_instagram.png);
}
#footer .ft-wrap .sns-wrap .list-sns li .kakao {
  background-image: url(../../images/icon_kakaotalk.png);
}
#footer .ft-wrap .sns-wrap .list-sns li .blog {
  background-image: url(../../images/icon_blog.png);
}
#footer .ft-wrap .sns-wrap .list-sns li .shop {
  background-image: url(../../images/icon_shop.png);
}

.main-slide-wrap {
  position: relative;
}
.main-slide-wrap .slogan {
  position: absolute;
  bottom: 10vw;
  z-index: 2;
  font-size: 11.5vw;
  font-weight: 900;
  font-style: italic;
  line-height: normal;
  letter-spacing: -3px;
  margin: 20px;
}
@media screen and (min-width: 1280px) {
  .main-slide-wrap .slogan {
    font-size: 6.9vw;
    bottom: 3vw;
  }
}
.main-slide-wrap .slogan .s-t1 {
  color: #fff;
  text-shadow: 4px 3px #00C1C1;
}
.main-slide-wrap .slogan .s-t2 {
  color: #00C1C1;
}

.main-slide {
  display: flex;
  flex-direction: column;
  margin: -79px -20px 0 -20px;
}
.main-slide .first-slide {
  width: 100%;
}
.main-slide .first-slide .main-game {
  height: 148.6vw;
  filter: brightness(0.8);
}
@media screen and (min-width: 1280px) {
  .main-slide .first-slide .main-game {
    width: 100%;
    height: 68vh;
    background-size: cover;
  }
}

.main-txt {
  font-size: 5.5vw;
  display: flex;
  word-break: keep-all;
}
@media screen and (min-width: 1280px) {
  .main-txt {
    font-size: 1.8vw;
  }
  .main-txt br {
    display: none;
  }
}
.main-txt.txt1 {
  margin-top: 10vw;
}
@media screen and (min-width: 1280px) {
  .main-txt.txt1 {
    margin-top: 6vw;
  }
}
.main-txt.txt2 {
  margin-top: 2vw;
  font-weight: 600;
  color: #00C1C1;
}
@media screen and (min-width: 1280px) {
  .main-txt.txt2 {
    margin-top: 0;
  }
}

@media screen and (min-width: 421px) {
  .main-txt br {
    display: none;
  }
}
.upcoming-slide-wrap {
  overflow: hidden;
  margin: 0 -20px;
  padding: 0 0 45px 20px;
}
@media screen and (min-width: 1280px) {
  .upcoming-slide-wrap {
    padding: 5vw 0 12px 20px;
  }
}
.upcoming-slide-wrap .upcoming-slide {
  width: 90%;
  height: 89.5vw;
  margin: 0;
  overflow: visible;
}
@media screen and (min-width: 1280px) {
  .upcoming-slide-wrap .upcoming-slide {
    width: 22%;
    height: 24vw;
  }
}
.upcoming-slide-wrap .second-slide {
  width: 100%;
}
.upcoming-slide-wrap .swiper-pagination {
  position: absolute;
  bottom: -40px;
}
@media screen and (min-width: 1280px) {
  .upcoming-slide-wrap .swiper-pagination {
    display: none;
  }
}
.upcoming-slide-wrap .swiper-pagination-bullet {
  width: 1.5vw;
  height: 1.5vw;
  background: transparent;
  border: 1px solid #ccc;
  opacity: 1;
}
.upcoming-slide-wrap .swiper-pagination-bullet-active {
  width: 17vw;
  transition: width 0.5s;
  border-radius: 5px;
  background: #00C1C1;
  border: 1px solid transparent;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  transition: all 0.5s;
}
.card .card-image {
  width: 100%;
  border-radius: 9px 9px 0 0;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1280px) {
  .card:hover {
    transform: translateY(-10%);
  }
}
.card .card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5.2vw;
  height: 100%;
}
@media screen and (min-width: 1280px) {
  .card .card-inner {
    padding: 1.5vw 1.3vw;
  }
}
.card .card-inner .card-main .card-hd {
  font-weight: 700;
  font-size: 4.5vw;
}
@media screen and (min-width: 1280px) {
  .card .card-inner .card-main .card-hd {
    font-size: 1.233vw;
  }
}
.card .card-inner .card-main .card-txt {
  font-size: 4vw;
  color: #444;
}
@media screen and (min-width: 1280px) {
  .card .card-inner .card-main .card-txt {
    font-size: 1.1vw;
  }
}
.card .card-inner .card-ft {
  display: flex;
}
.card .card-inner .card-ft .hash {
  font-size: 2.6vw;
  font-weight: 600;
  padding: 1.5vw 2.5vw;
  background: #ccc;
  border-radius: 10vw;
  margin-right: 0.8vw;
}
@media screen and (min-width: 1280px) {
  .card .card-inner .card-ft .hash {
    font-size: 0.8vw;
    padding: 0.4vw 0.9vw;
  }
}

.our-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 126.6666666667vw;
  border-radius: 9px;
  margin-bottom: 15px;
  padding-top: 57vw;
}
@media screen and (min-width: 1280px) {
  .our-games {
    height: 38vw;
    padding: 0;
    border-radius: 11px;
    align-items: flex-start;
    padding: 7.7vw 0 0 4.8vw;
  }
}
.our-games.ttri {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../../images/mobile/game_ttr.jpg");
  background-size: cover;
}
@media screen and (min-width: 1280px) {
  .our-games.ttri {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/main_2t2r.png") center center/cover no-repeat;
  }
  .our-games.ttri:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/main_2t2r.png") center center/cover no-repeat;
  }
}
.our-games.seve {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../../images/mobile/game_7won.jpg");
  background-size: cover;
}
@media screen and (min-width: 1280px) {
  .our-games.seve {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/main_7wonders.png");
    background-size: cover;
  }
  .our-games.seve:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/main_7wonders.png");
    background-size: cover;
  }
}
.our-games.sple {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../../images/mobile/game_splen.jpg");
  background-size: cover;
}
@media screen and (min-width: 1280px) {
  .our-games.sple {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/main_3splendor.png");
    background-size: cover;
  }
  .our-games.sple:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/main_3splendor.png");
    background-size: cover;
  }
}
.our-games.dixi {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../../images/mobile/game_dixit.jpg");
  background-size: cover;
}
@media screen and (min-width: 1280px) {
  .our-games.dixi {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/main_1dixit.png");
    background-size: cover;
  }
  .our-games.dixi:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/main_1dixit.png");
    background-size: cover;
  }
}
.our-games.dobb {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../../images/mobile/game_dob.jpg");
  background-size: cover;
}
@media screen and (min-width: 1280px) {
  .our-games.dobb {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/main_4dobble.png");
    background-size: cover;
  }
  .our-games.dobb:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/main_4dobble.png");
    background-size: cover;
  }
}
.our-games .game-logo {
  text-indent: -9999px;
  width: 75%;
  height: 25vw;
  margin-bottom: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 1280px) {
  .our-games .game-logo {
    width: 27vw;
    height: 167px;
    height: 167px;
  }
}
.our-games .game-logo.ttri-logo {
  background-image: url(../../images/logo_t2r.png);
}
.our-games .game-logo.seve-logo {
  background-image: url(../../images/logo_7wonders.png);
}
.our-games .game-logo.sple-logo {
  background-image: url(../../images/logo_splendor.png);
}
.our-games .game-logo.dixi-logo {
  background-image: url(../../images/logo_dixit.png);
}
.our-games .game-logo.dobb-logo {
  margin-bottom: 10px;
  height: 35vw;
  background-image: url(../../images/logo_dobble.png);
}
@media screen and (min-width: 1280px) {
  .our-games .game-logo.dobb-logo {
    width: 12vw;
    height: 14vw;
  }
}
.our-games .our-games-txt {
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .our-games .our-games-txt {
    text-align: left;
  }
}
.our-games .our-games-txt span {
  font-size: 4.4vw;
  font-weight: 800;
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .our-games .our-games-txt span {
    font-size: 1.8vw;
  }
}
.our-games .our-games-txt p {
  letter-spacing: -0.7px;
  margin-top: 0.8vw;
  font-size: 3.8vw;
  color: #fff;
  line-height: normal;
}
@media screen and (min-width: 1280px) {
  .our-games .our-games-txt p {
    font-size: 1.2vw;
    letter-spacing: normal;
    line-height: normal;
  }
}

.news-slide-wrap {
  overflow: hidden;
  margin: 0 -20px;
  padding: 0 0 45px 20px;
}
@media screen and (min-width: 1280px) {
  .news-slide-wrap {
    padding: 5vw 0 12px 20px;
  }
}
.news-slide-wrap .news-slide {
  width: 90%;
  height: 100%;
  margin: 0;
  overflow: visible;
}
@media screen and (min-width: 1280px) {
  .news-slide-wrap .news-slide {
    width: 25%;
    height: 100%;
  }
}
.news-slide-wrap .news-slide .second-slide {
  width: 100%;
}
.news-slide-wrap .news-slide .swiper-pagination {
  position: absolute;
  bottom: -40px;
}
@media screen and (min-width: 1280px) {
  .news-slide-wrap .news-slide .swiper-pagination {
    display: none;
  }
}
.news-slide-wrap .news-slide .swiper-pagination-bullet {
  width: 1.5vw;
  height: 1.5vw;
  background: transparent;
  border: 1px solid #ccc;
  opacity: 1;
}
.news-slide-wrap .news-slide .swiper-pagination-bullet-active {
  width: 17vw;
  transition: width 0.5s;
  border-radius: 5px;
  background: #00C1C1;
  border: 1px solid transparent;
}
.news-slide-wrap .news-slide .third-slide {
  width: 100%;
  margin: 0;
  border-radius: 9px;
  transition: all 0.5s;
}
.news-slide-wrap .news-slide .third-slide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1280px) {
  .news-slide-wrap .news-slide .third-slide:hover {
    transform: translateY(-10%);
  }
}
.news-slide-wrap .news-slide .third-slide a {
  display: flex;
  position: relative;
}
.news-slide-wrap .news-slide .third-slide a img {
  width: 100%;
  border-radius: 9px;
}
.news-slide-wrap .news-slide .third-slide a p {
  position: absolute;
  left: 25px;
  bottom: 20px;
  font-size: 2.6vw;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 1.5vw 2.5vw;
  border-radius: 10vw;
  color: #fff;
  background: #00C1C1;
}
@media screen and (min-width: 1280px) {
  .news-slide-wrap .news-slide .third-slide a p {
    font-size: 1.1vw;
    padding: 0.5vw 1.2vw;
  }
}

.sec-g .download {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .sec-g .download {
    flex-direction: row;
  }
}
.sec-g .download a .files-img {
  position: relative;
  width: 100%;
  height: 50vw;
  border-radius: 12px;
  transition: all 0.5s;
}
.sec-g .download a .files-img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1280px) {
  .sec-g .download a .files-img:hover {
    transform: translateY(-10%);
  }
}
@media screen and (min-width: 1280px) {
  .sec-g .download a .files-img {
    width: 31.2vw;
    height: 33.2vw;
  }
}
.sec-g .download a .files-img.img-rule {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/files_rule.jpg");
  background-size: cover;
  background-position: center;
}
.sec-g .download a .files-img.img-rule:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/files_rule.jpg");
  background-size: cover;
  background-position: center;
}
.sec-g .download a .files-img.img-tool {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/files_files.jpg");
  background-size: cover;
  background-position: center;
}
.sec-g .download a .files-img.img-tool:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/files_files.jpg");
  background-size: cover;
  background-position: center;
}
.sec-g .download a .files-img.img-etc {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/files_etc.jpg");
  background-size: cover;
  background-position: center;
}
.sec-g .download a .files-img.img-etc:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/files_etc.jpg");
  background-size: cover;
  background-position: center;
}
.sec-g .download a .files-img p {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 7.5vw;
  font-weight: 800;
  letter-spacing: 4px;
}
@media screen and (min-width: 1280px) {
  .sec-g .download a .files-img p {
    font-size: 36px;
  }
}

.line {
  background: #ccc;
  width: 100%;
  height: 1px;
  margin: 9vh 0;
}

.cs-center {
  margin-bottom: 9vh;
}
.cs-center .list-cs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 35px;
}
@media screen and (min-width: 1280px) {
  .cs-center .list-cs {
    flex-wrap: nowrap;
  }
}
.cs-center .list-cs li {
  display: flex;
  width: 40%;
  height: 170px;
}
.cs-center .list-cs li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.cs-center .list-cs li a .cs-img {
  width: 100%;
  height: 80%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.cs-center .list-cs li a .consumer {
  background-image: url(../../images/cs_consumer.png);
}
.cs-center .list-cs li a .distri {
  background-image: url(../../images/cs_distributor.png);
}
.cs-center .list-cs li a .market {
  background-image: url(../../images/cs_marketing.png);
}
.cs-center .list-cs li a .brand {
  background-image: url(../../images/cs_brand.png);
}
.cs-center .list-cs li a p {
  text-align: center;
  font-size: 4.8vw;
  font-weight: 600;
  color: #333;
}
@media screen and (min-width: 1280px) {
  .cs-center .list-cs li a p {
    font-size: 28px;
  }
}

.main-banner-wrap {
  height: 148.6vw;
  position: relative;
  margin: -79px -20px 0 -20px;
}
@media screen and (min-width: 1280px) {
  .main-banner-wrap {
    height: 68vh;
    background-size: cover;
  }
}
.main-banner-wrap .main-banner-img {
  background-image: url(../../images/c_festa1.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}
.main-banner-wrap .main-txt-wrap {
  position: absolute;
  bottom: 13vw;
  left: 0;
  color: #00C1C1;
}
@media screen and (min-width: 1280px) {
  .main-banner-wrap .main-txt-wrap {
    bottom: 4.1vw;
  }
}
.main-banner-wrap .main-txt-wrap .main-txt {
  font-size: 9.5vw;
  font-weight: 900;
  font-style: italic;
  line-height: normal;
  letter-spacing: -1px;
  margin-left: 20px;
}
@media screen and (min-width: 1280px) {
  .main-banner-wrap .main-txt-wrap .main-txt {
    font-size: 7vw;
  }
}
.main-banner-wrap .main-txt-wrap .main-txt.first-txt {
  font-size: 5.6vw;
  letter-spacing: normal;
}
.main-banner-wrap .main-txt-wrap .main-txt.second-txt {
  color: #fff;
  text-shadow: 4px 3px #00C1C1;
}

.who .title {
  margin-top: 8.15vw;
}
.who .who-txt {
  font-size: 3.5vw;
  color: #333;
}
@media screen and (min-width: 1280px) {
  .who .who-txt {
    width: 70%;
    font-size: 1.245vw;
  }
}
.who .who-txt.who-second {
  margin: 15px 0 50px 0;
}
@media screen and (min-width: 1280px) {
  .who .who-txt.who-second {
    margin-top: 1.2vw;
  }
}
.who .who-icons {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}
@media screen and (min-width: 1280px) {
  .who .who-icons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.who .who-icons .num, .who .who-icons .plus {
  color: #00C1C1;
  font-weight: 900;
}
.who .who-icons .num-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.who .who-icons .num {
  font-size: 11.8vw;
}
@media screen and (min-width: 1280px) {
  .who .who-icons .num {
    font-size: 6.999vw;
  }
}
.who .who-icons .plus {
  font-size: 5vw;
}
@media screen and (min-width: 1280px) {
  .who .who-icons .plus {
    font-size: 4vw;
  }
}
.who .who-icons .sub-txt {
  color: #333;
  font-weight: 800;
  font-size: 3.4vw;
}
@media screen and (min-width: 1280px) {
  .who .who-icons .sub-txt {
    font-size: 1.245vw;
  }
}

.bt-slide {
  display: flex;
  overflow: hidden;
  margin: 6vw -20px 0 -20px;
}
.bt-slide.bt1 .rolling-list ul {
  display: flex;
}
.bt-slide.bt1 .rolling-list ul li {
  width: 52.5vw;
  height: 53.2vw;
  border-radius: 8px;
  transform: skewX(-12deg);
  margin: 23.3vw 5.5vw 0 0.8vw;
}
@media screen and (min-width: 1280px) {
  .bt-slide.bt1 .rolling-list ul li {
    width: 16vw;
    height: 19vw;
    margin: 5.4vw 1vw 0 0;
  }
}
.bt-slide.bt1 .rolling-list ul li:nth-child(1) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/c_festa2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt1 .rolling-list ul li:nth-child(2) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/c_a2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt1 .rolling-list ul li:nth-child(3) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/c_festa1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt1 .rolling-list ul li:nth-child(4) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/c_festa3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt1 .rolling-list ul li:nth-child(5) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/c_a1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt1 .rolling-list ul li:nth-child(6) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/c_festa4.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt1 .rolling-list ul li:nth-child(even) {
  margin: 33vw 5.5vw 0 -3vw;
}
@media screen and (min-width: 1280px) {
  .bt-slide.bt1 .rolling-list ul li:nth-child(even) {
    margin: 2.7vw 0.5vw 0 0.5vw;
  }
}
.bt-slide.bt2 .rolling-list ul {
  display: flex;
}
.bt-slide.bt2 .rolling-list ul li {
  width: 52.5vw;
  height: 53.2vw;
  border-radius: 8px;
  transform: skewX(-12deg);
  margin: 23.3vw 5.5vw 0 0.8vw;
}
@media screen and (min-width: 1280px) {
  .bt-slide.bt2 .rolling-list ul li {
    width: 16vw;
    height: 19vw;
    margin: 5.4vw 1vw 0 0;
  }
}
.bt-slide.bt2 .rolling-list ul li:nth-child(1) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bb_caesar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt2 .rolling-list ul li:nth-child(2) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bb_jykel01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt2 .rolling-list ul li:nth-child(3) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bb_four.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt2 .rolling-list ul li:nth-child(4) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bb_jykel02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt2 .rolling-list ul li:nth-child(5) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bb_rainbow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt2 .rolling-list ul li:nth-child(6) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bb_jykel03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bt-slide.bt2 .rolling-list ul li:nth-child(even) {
  margin: 33vw 5.5vw 0 -3vw;
}
@media screen and (min-width: 1280px) {
  .bt-slide.bt2 .rolling-list ul li:nth-child(even) {
    margin: 2.7vw 0.5vw 0 0.5vw;
  }
}

.world {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .world .title .world-enter {
    display: none;
  }
}
.world .world-txt {
  font-size: 3.5vw;
  color: #333;
}
@media screen and (min-width: 1280px) {
  .world .world-txt {
    font-size: 1.245vw;
  }
}
.world .worldmap-wrap .worldmap-img {
  width: 100%;
  height: 50vw;
  background-image: url(../../images/worldmap.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 12.3vw 0 4.7vw 0;
}
@media screen and (min-width: 1280px) {
  .world .worldmap-wrap .worldmap-img {
    width: 90%;
    margin: 9vw auto 0.6vw auto;
  }
}
@media screen and (min-width: 1280px) {
  .world .worldmap-wrap .worldmap-info-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 2.1vw;
  }
}
.world .worldmap-wrap .worldmap-info {
  font-size: 3.7vw;
}
@media screen and (min-width: 1280px) {
  .world .worldmap-wrap .worldmap-info {
    font-size: 1.245vw;
  }
}

@media screen and (min-width: 1280px) {
  .pf-card-wrap {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .pf-card-wrap {
    width: 100%;
    gap: 25px;
  }
}
.pf-card-wrap .pf-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  height: 75vw;
  background: #ccc;
  border-radius: 11px;
  text-align: center;
  margin-bottom: 4vw;
  padding: 6vw 4.7vw;
}
@media screen and (min-width: 1280px) {
  .pf-card-wrap .pf-card {
    width: 33.3vw;
    height: 33vw;
    padding: 3vw 2vw;
  }
}
.pf-card-wrap .pf-card .pf-img {
  width: 40vw;
  height: 60vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 1280px) {
  .pf-card-wrap .pf-card .pf-img {
    width: 20vw;
    height: 18vw;
  }
}
.pf-card-wrap .pf-card .pf-img.pf-boardgame {
  background-image: url(../../images/p_boardgames.png);
}
.pf-card-wrap .pf-card .pf-img.pf-digital {
  background-image: url(../../images/p_digital.png);
}
.pf-card-wrap .pf-card .pf-img.pf-entertain {
  background-image: url(../../images/p_enter.png);
}
.pf-card-wrap .pf-line {
  background-color: #B0B0B0;
  width: 100%;
  height: 1px;
  margin: 4vw 0;
}
@media screen and (min-width: 1280px) {
  .pf-card-wrap .pf-line {
    margin: 2.5vw 0;
  }
}
.pf-card-wrap .pf-txt-wrap .pf-tit {
  font-size: 5.8vw;
  font-weight: 900;
  color: #333;
}
@media screen and (min-width: 1280px) {
  .pf-card-wrap .pf-txt-wrap .pf-tit {
    font-size: 1.65vw;
  }
}
.pf-card-wrap .pf-txt-wrap .pf-txt {
  font-size: 3.7vw;
  font-weight: 600;
  color: #444;
  margin-top: 1vw;
}
@media screen and (min-width: 1280px) {
  .pf-card-wrap .pf-txt-wrap .pf-txt {
    font-size: 1.25vw;
    margin-top: 1.7vw;
  }
}

.studio-slide-wrap {
  overflow: hidden;
  margin: 0 -20px;
  padding: 0 0 20px 20px;
}
.studio-slide-wrap .studios-slide {
  width: 90%;
  height: 89.5vw;
  margin: 0;
  overflow: visible;
}
@media screen and (min-width: 1280px) {
  .studio-slide-wrap .studios-slide {
    width: 22%;
    height: 24vw;
  }
}
.studio-slide-wrap .studios-slide .second-slide {
  width: 100%;
}
.studio-slide-wrap .studios-slide .swiper-pagination {
  position: absolute;
  bottom: -40px;
}
@media screen and (min-width: 1280px) {
  .studio-slide-wrap .studios-slide .swiper-pagination {
    display: none;
  }
}
.studio-slide-wrap .studios-slide .swiper-pagination-bullet {
  width: 1.5vw;
  height: 1.5vw;
  background: transparent;
  border: 1px solid #ccc;
  opacity: 1;
}
.studio-slide-wrap .studios-slide .swiper-pagination-bullet-active {
  width: 17vw;
  transition: width 0.5s;
  border-radius: 5px;
  background: #00C1C1;
  border: 1px solid transparent;
}

.st-card {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
.st-card .card-image {
  width: 100%;
  border-radius: 9px 9px 0 0;
}
.st-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.st-card .card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5.2vw;
  height: 100%;
}
@media screen and (min-width: 1280px) {
  .st-card .card-inner {
    padding: 1.5vw 1.3vw;
  }
}
.st-card .card-inner .card-tit {
  font-weight: 700;
  font-size: 4.5vw;
}
@media screen and (min-width: 1280px) {
  .st-card .card-inner .card-tit {
    font-size: 1.233vw;
  }
}
.st-card .card-inner .card-ft {
  display: flex;
}
.st-card .card-inner .card-ft .hash {
  font-size: 2.6vw;
  font-weight: 600;
  padding: 1.5vw 2.5vw;
  background: #ccc;
  border-radius: 10vw;
  margin-right: 0.8vw;
}
@media screen and (min-width: 1280px) {
  .st-card .card-inner .card-ft .hash {
    font-size: 0.9vw;
    padding: 0.4vw 0.9vw;
  }
}

@media screen and (min-width: 1280px) {
  .location .map {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .location .loca-address, .location .loca-call, .location .loca-subway {
    display: grid;
    grid-template-columns: 20% 1fr;
  }
}
.location .loca-tit {
  font-weight: 800;
  font-size: 4.6vw;
  color: #333;
}
@media screen and (min-width: 1280px) {
  .location .loca-tit {
    font-size: 1.8vw;
  }
}
.location .loca-txt {
  font-size: 3.6vw;
}
@media screen and (min-width: 1280px) {
  .location .loca-txt {
    font-size: 1.3vw;
  }
}
.location .line {
  margin: 4vw 0;
}
.location .add {
  margin-bottom: 2vw;
}
.location .subway-side-wrap .subway-name {
  display: grid;
  grid-template-columns: 9vw 16vw 1fr;
  margin-bottom: 17vw;
}
@media screen and (min-width: 1280px) {
  .location .subway-side-wrap .subway-name {
    grid-template-columns: 3vw 4vw 1fr;
    margin-bottom: 106px;
  }
}
.location .subway-side-wrap .subway-name .subway-num {
  font-size: 4.6vw;
  font-weight: 600;
  color: #fff;
  width: 5.7vw;
  height: 5.7vw;
  line-height: 5.7vw;
  background: #00A4E3;
  border-radius: 100%;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .location .subway-side-wrap .subway-name .subway-num {
    font-size: 24px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
.location .subway-side-wrap .subway-name .subway-line {
  font-size: 3.6vw;
  font-weight: 600;
  color: #333;
}
@media screen and (min-width: 1280px) {
  .location .subway-side-wrap .subway-name .subway-line {
    font-size: 16px;
  }
}
.location .subway-side-wrap .subway-name .loca-txt-more {
  font-size: 3.6vw;
  color: #333;
}
@media screen and (min-width: 1280px) {
  .location .subway-side-wrap .subway-name .loca-txt-more {
    font-size: 16px;
  }
}/*# sourceMappingURL=comm.css.map */